<p>Caro Suporte,</p>
<br/>
<p><%=senderName%>, acabou de abrir um chamado para sua area.</p>
<p>Detalhes:</p>
<p>Data: <%=data%></p>
<p>Tipo: <%=type%></p>
<p>Prioridade: <%=priority%></p>
<p>-----------------------------</p>
<p>Descrição: <%=description%></p>