<p>Caro Administrador,</p>
<br/>
<p><%=senderName%>, acabou de lançar horas no sistema de Time Sheet.</p>
<p>Detalhes:</p>
<p>Data: <%=data%></p>
<p>Projeto: <%=projeto%></p>
<p>Horas: <%=horas%></p>
<p>-----------------------------</p>
<p>Descrição: <%=description%></p>