<p>Caro <%=senderName%>,</p>
<br/>
<p><Seu chamado foi aberto com sucesso, abaixo segue os detalhes dele.</p>
<p></p>
<p>Detalhes:</p>
<p>Data: <%=data%></p>
<p>Tipo: <%=type%></p>
<p>Prioridade: <%=priority%></p>
<p>-----------------------------</p>
<p>Descrição: <%=description%></p>